# LaTeX auxiliary files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt

# Build tool auxiliary files
*.fdb_latexmk
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# Generated documents
*.dvi
*.pdf
doc/man/texdoc.1
doc/man/texdoc.1.html

# Bundle
.bundle
vendor/*

# Temporaly
tmp/*
texdoc-*.zip

# local
script/tags
.vimrc
