alias 2in1                = twoinone
alias aastex              = aastex/aasguide
alias acmtrans            = acmtr2e
alias adrconv             = adrguide
alias afoot               = arabtex-doc
alias(60) akademia        = tex-virtual-academy-pl/index.html
alias akletter            = akletter/lettereng
alias amsart              = instr-l
alias amsbook             = instr-l
alias amscls              = instr-l
alias amsfonts            = amsfndoc
alias amslatex            = amshelp
alias amsmath             = amsldoc
alias amsproc             = instr-l
alias amsrefs             = amsrdoc
alias amsthm              = amsthdoc
alias apmgraph            = pmgraph
alias arabicfont          = bezos
alias arev                = arevdoc
alias article             = classes
alias arydshln            = arydshln-man
alias ascelike            = ascexmpl
alias astro               = astrosym.txt
alias asymptote           = asymptote
alias avant               = psnfss2e
alias barcode             = eandoc.pdf
alias bardiag             = bardiag.ps
alias barr                = diaxydoc.pdf
alias beamer              = beameruserguide
alias belleek             = belleek/README
alias bezier              = latex209
alias bibtex              = btxdoc
alias biocon              = biocon/manual.pdf
alias book                = classes
alias bookman             = psnfss2e
alias brushscr            = brushscr/AAA_readme
alias caption             = caption-eng
alias caption-de          = caption-deu
alias caption-ru          = caption-rus
alias chancery            = psnfss2e
alias chapterbib          = /cite/README
alias charter             = psnfss2e
alias checkend            = bezos
alias china2e             = chinadoc
alias chngpage            = changepage
alias cite                = /cite/README
alias cjhebrew            = cjhebrew/manual
alias cjk                 = CJK
alias clock               = clockdoc
alias cm-super            = cm-super/README
alias cmsuper             = cm-super/README
alias color               = grfguide
alias courier             = psnfss2e
alias custom-bib          = custom-bib/makebst
alias cv                  = curve/curve
alias cyrillic            = cyrillic/00readme.txt
alias datenumber          = datenumber/doc.
alias doc                 = base/doc
alias dotlessi            = bezos
alias doublestroke        = dsdoc.pdf
alias drftcite            = /cite/README
alias dutch               = rapdoc
alias ecards              = eCardsman
alias elpres              = elpres-manual
alias elsarticle          = elsdoc
alias enctex-cz           = encdoc
alias enctex              = encdoc-e
alias epsfig              = grfguide
alias e-tex               = etex_man
alias etex                = etex_man
alias ethiop              = ethiodoc
alias euro                = eurosamp
alias exam                = examdoc
alias expressg            = expeg
alias faq                 = newfaq
alias fax                 = faxdoc
alias fge                 = fge-doc
alias figbib              = figbib_doc
alias fix-cm              = fixltx2e
alias flafter             = source2e
alias flcards             = flashcards
alias fleqn               = latex209
alias(20) fontenc         = encguide
alias fonttable           = fonttable/fonttable
alias footnpag            = footnpag-user
alias fourier             = fourier-doc-en
alias gauss               = gauss-doc
alias gentlpl             = gentl-pl
alias geometry            = geometry/manual
alias geomsty             = geomsty/manual
alias german              = gerdoc
alias gnlogic             = gn-logic14
alias graphics            = graphics/grfguide
alias graphicx            = grfguide
alias greektex            = greektexdoc
alias gu                  = gudoc
alias helvet              = psnfss2e
alias hitec               = hitec_doc
alias hyperref            = hyperref/manual.pdf
alias hyplain             = hydoc.pdf
alias ieee                = IEEEtran_HOWTO
alias ieeepes             = ieeepes_doc
alias IEEEtran            = IEEEtran_HOWTO
alias ifmslide            = ifmman
alias index               = ind
alias interactiveworkbook = interactiveworkbookmanual
alias iso                 = isoman
alias isomath             = isomath.sty.pdf
alias isorot              = isorot/rotman
alias jadetex             = jadetex/base/releasenotes
alias jurabib-de          = jbgerdoc
alias jurabib             = jbendoc
alias juramisc            = jmgerdoc
alias kluwer              = kluwer/usrman
alias koma-de             = scrguide
alias koma                = scrguien
alias koma-script         = scrguien
alias latex3              = ltx3info
alias latex3p             = expl3/expl3
alias latex               = latex-doc-ptr
alias layout              = layout
alias layouts             = layman
alias lehman              = fontinstallationguide
alias leqno               = latex209
alias letter              = base/letter
alias letterspace         = microtype
alias lettrine            = lettrine
alias lineno              = ulineno
alias lingmacros          = lingmacros-manual
alias linguex             = linguex-doc
alias lmfonts             = lm-info
alias lshort-bg           = lshort-bg
alias lshort-de           = l2kurz
alias lshort-en           = -english/lshort
alias lshort-es           = lshort-spanish/lshort
alias lshort-es           = -spanish/lshort
alias lshort-fi           = lyhyt2e
alias lshort-fr           = lshort-fr
alias lshort-it           = itlshort
alias lshort-ja           = jlshort
alias lshort              = lshort-english/lshort
alias lshort-mn           = bogino.pdf
alias lshort-nl           = lshort-nl-1.3
alias lshort-pl           = lshort-polish/lshort2e
alias lshort-pt           = ptlshort
alias lshort-ru           = lshortru
alias lshort-sk           = slshorte
alias lshort-sl           = lshort-slovenian
alias lshort-th           = lsh132
alias lshort-tr           = lshort-tr
alias lshort-uk           = lshort-ukr
alias lshort-vi           = lshort-vi
alias lshort-zh           = lshort-zh-cn
alias ltugboat            = ltubguid
alias ltugproc            = ltubguid
alias luatex              = luatexref-t
alias luatex-pkg          = oberdiek/luatex.pdf
alias makeidx             = makeindx
alias makeindex           = base/makeindex
alias makeindex           = makeindex/makeindex
alias marvosym            = marvodoc
alias mathdesign          = mathdesign-doc
alias mathenv             = mdwtab
alias mathmode            = Mathmode
alias mathpazo            = psnfss2e
alias mathpple            = psnfss2e
alias mathptm             = psnfss2e
alias mathptmx            = psnfss2e
alias mciteplus           = mciteplus_doc
alias memoir              = memman
alias metaobj             = momanual
alias metapost            = mpman
alias MeX                 = base/mex.html
alias mltex               = mltex/mltex.txt
alias montex              = mlsquick
alias msc                 = msc/manual
alias musictex            = musicdoc
alias musixlyr            = mxlyrdoc
alias musixtex            = musixdoc
alias mwcls               = mwclsdoc
alias nath                = nathguide
alias newcent             = psnfss2e
alias newvbtm             = newvbtm-man
alias ngerman             = gerdoc
alias nonfloat-de         = nonfloat
alias nonfloat            = nonfloat-en
alias nrc                 = nrc/userguide
alias ocherokee           = cherokee
alias ofs-cz              = ofsdoc
alias ofs                 = ofsdoc-e
alias onrannual           = onrannual/README
alias openbib             = latex209
alias otibet              = otibet/unidoc
alias overcite            = /cite/README
alias palatino            = psnfss2e
alias pbdiagram           = pb-manual
alias pdfscreen           = pdfscreen/manual-print
alias pdfslide            = pdfslide/demo
alias pdftex              = pdftex-a
alias pdftricks           = pdftricks/manual
alias petiteannonce       = petiteannonce.doc.pdf
alias petri-nets          = pndoc
alias pgf                 = pgfmanual
alias pgf-soroban         = pgf-soroban-doc
alias pinlabel            = pinlabdoc
alias plnfss              = plnfss.txt
alias ppower4             = ppower4/report
alias preprint            = preprint/00readme.txt
alias prosper             = prosper-doc
alias psfrag              = pfgguide
alias psnfss              = psnfss2e
alias pst-3dplot          = pst-3dplot-doc
alias pst-asr             = pst-asr-doc
alias pst-barcode         = pst-barcode-doc
alias pst-bar             = pst-bar-doc
alias pst-circ            = pst-circ-doc
alias pst-coil            = pst-coil-doc
alias pst-coxcoor         = pst-coxcoor_doc
alias pst-coxeterp        = pst-coxeterp_doc
alias pst-eps             = pst-eps-doc
alias pst-eucl-fr         = pst-eucl/euclide
alias pst-eucl            = pst-eucl/euclide_english
alias pst-fractal         = pst-fractal-doc
alias pst-func            = pst-func-doc
alias pst-fun             = pst-fun-doc
alias pst-geo             = pst-map3d-doc
alias pst-grad            = pst-grad-doc
alias pst-jtree           = pst-jtree-doc
alias pst-light3d         = pst-light3d-doc
alias pst-math            = pst-math-doc
alias pst-optexp          = pst-optexp-doc
alias pst-optic           = pst-optic-doc
alias pst-osci            = pst-osci-doc
alias pst-pad             = pst-pad-doc
alias pst-qtree           = pst-qtree-manual
alias pstricks-add        = pstricks-add-doc
alias pstricks            = pstricks-doc
alias pst-solides3d       = pst-solides3d-doc
alias pst-soroban         = pst-soroban-doc
alias pst-stru            = pst-stru-doc
alias pst-text            = pst-text-doc
alias pst-uml             = pst-uml-doc
alias pst-vue3d           = pst-vue3d-doc
alias pxfonts             = pxfontsdoc
alias rcs                 = rcs-user
alias report              = classes
alias rotpages            = rotpages-doc
alias rst                 = rst-package
alias sanskrit            = sktdoc
alias sciposter           = scipostermanual
alias scrartcl-de         = scrguide
alias scrartcl            = scrguien
alias scrbook-de          = scrguide
alias scrbook             = scrguien
alias scrreprt-de         = scrguide
alias scrreprt            = scrguien
alias sdrt                = sdrt-doc
alias sectionbox          = sectionboxmanual
alias seminar             = sem-user
alias sffms               = sffms_manual
alias shortvrb            = base/doc.pdf
alias showidx             = makeindx
alias showkeys            = showkeys
alias sig                 = sigdoc
alias skak                = skakdoc
alias skt                 = sktdoc
alias slides              = base/slides
alias smflatex            = smflatex/e-doc
alias spie                = spie/article
alias startex             = startex/base/guide
alias subdocs             = bezos
alias symbols             = symbols-a4
alias synproof            = synproof-doc
alias talk                = talkdoc
alias tangles             = t-angles/t-manual
alias t-angles            = t-manual
alias testflow            = testflow_doc
alias teubner             = teubner-doc
alias tex4ht              = tex4ht/mn.html
alias texdoc              = texdoc/texdoc
alias texguide            = usrguide
alias texmate             = texmate2manual
alias texpower            = texpower/manual
alias texsis              = texsis/base/README
alias textcomp            = encguide
alias ticket              = ticket/manual
alias tikz-inet           = tikz-inet-doc
alias tikz                = pgfmanual
alias times               = psnfss2e
alias titletoc            = titlesec
alias toptesi             = toptesi-doc
alias tracefnt            = source2e
alias treetex             = tree_doc
alias ttf                 = ttf-tetex
alias tugboat-plain       = tubguide
alias txfonts             = txfontsdoc
alias type1cm             = type1cm-doc.pdf
alias typearea-de         = scrguide
alias typearea            = scrguien
alias uebungsblatt        = uebungsblatt-doc
alias uktugfaq            = newfaq
alias umoline             = umoline-man
alias upmethodology       = upmethodology-doc
alias utopia              = psnfss2e
alias velthuis            = velthuis/manual
alias visualfaq           = visualFAQ
alias vntex               = vntex.pdf
alias wallpaper           = wallpapermanual
alias wasy                = wasydoc
alias xetex               = XeTeX-reference
alias xmltex              = xmltex/base/manual.html
alias xstring-fr          = xstring_doc_fr
alias xstring             = xstring_doc_en
alias xyling              = xyli-doc
alias xypic               = xyguide
alias yfonts              = yfonts/readme
